In [2]:
import os
import pandas as pd
import numpy as np
import pyodbc
from datetime import datetime, timedelta
import json
#from Functions import return_jalali_date, user_pyodbc_connection, pyodbc_connection
#from Functions import Node1va2_Username, Node1va2_Password
from Functions import *
import jdatetime
from datetime import timedelta
import jdatetime
import requests
from datetime import timedelta, datetime
from persiantools.jdatetime import JalaliDate
import re
from dotenv import load_dotenv

In [4]:
from openai import OpenAI

client = OpenAI(
    api_key="local-api-key",   # هرچیزی، مهم نیست
    base_url="http://127.0.0.1:1234/v1"
)

In [5]:
def classify_item(text: str) -> str:
    response = client.chat.completions.create(
        
        model="qwen3-4b-instruct-2507",  # مثلا: mistral, llama3, qwen
        temperature=0,
        messages=[
            {"role": "user", "content": text}]
    )
    return response.choices[0].message.content.strip()

In [11]:
ScrapingData = pd.read_excel('Out2.xlsx')

In [12]:
ScrapingData

,biography,followers,following,full_name,id,is_private,is_verified,posts,profile_pic_url,username
0,فروشگاه آنلاین طلا و نقره,23,1222,فروشگاه آنلاین طلا و نقره,chertopert1,False,False,450,absd1,abs1
1,عطر و لوازم آرایشی,3334,1,عطر و لوازم آرایشی,chertopert2,False,False,32,absd2,abs2
2,عطر و لوازم آرایشی,34,1,عطر و لوازم آرایشی,chertopert3,False,False,432,absd3,abs3
3,فروشگاه لباس زنانه,5677,12,فروشگاه لباس زنانه,chertopert4,False,False,57,absd4,abs4

In [15]:
ScrapingGroups = []

for i in  ScrapingData.biography:
    ScrapingGroups.append(classify_item(i))

In [17]:
pd.DataFrame(ScrapingGroups , columns = ['Master'])

           Master
0             طلا
1  زیبایی و سلامت
2  زیبایی و سلامت
3      مد و پوشاک

In [21]:
ScrapingData['Master'] = pd.DataFrame(ScrapingGroups)

In [22]:
ScrapingData

,biography,followers,following,full_name,id,is_private,is_verified,posts,profile_pic_url,username,Master
0,فروشگاه آنلاین طلا و نقره,23,1222,فروشگاه آنلاین طلا و نقره,chertopert1,False,False,450,absd1,abs1,طلا
1,عطر و لوازم آرایشی,3334,1,عطر و لوازم آرایشی,chertopert2,False,False,32,absd2,abs2,زیبایی و سلامت
2,عطر و لوازم آرایشی,34,1,عطر و لوازم آرایشی,chertopert3,False,False,432,absd3,abs3,زیبایی و سلامت
3,فروشگاه لباس زنانه,5677,12,فروشگاه لباس زنانه,chertopert4,False,False,57,absd4,abs4,مد و پوشاک